* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100vh;
  border: solid red 1px;
  top: 0;
  position: relative;
  background-img: url(/images/bgvector.svg);
}
.bgImg {
  position: absolute;
  width: 100vw;
  top: 0;
  left: 0;
  margin: 0;
  z-index: -1;
}
// NAVBAR
.navbar {
  width: 100%;
  height: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // background: rgba(0, 224, 0, 0.678);
  div {
    flex: 1;
    display: flex;
    align-items: center;
    // border: rgb(0, 224, 0) 2px solid;

    font-family: "Courier New", Courier, monospace;
    a {
      color: black;
      text-decoration: none;
      margin-left: 20px;
      font-weight: 400;
    }
  }
  div:nth-child(1) {
    font-size: 20px;
    padding-left: 3rem;
  }
  div:nth-child(2) {
    justify-content: center;
  }
  div:nth-child(3) {
    justify-content: flex-end;
    padding-right: 3rem;
  }
}
// HOME PAGE
.content-box {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  // border: rgb(16, 2, 212) 2px solid;
  background-position: center top;
  background-size: 100%;
  background-repeat: no-repeat;
}
.hero {
  height: 100%;
  height: 100vh;
  flex: 1;
  position: relative;
  // border: solid black 3px;
}
.hero:nth-of-type(1) {
  display: flex;
  flex-direction: row;
  .social-links {
    display: flex;
    align-items: center;
    // border: solid red 2px;
    // position: absolute;
    width: 20%;
    height: 100%;
    flex: 1;
    border: solid red 2px;
    p {
      transform: rotate(90deg);
      text-orientation: sideways;
    }
  }
  .word-content {
    display: flex;
    flex: 8;
    flex-direction: column;
    padding: 0 5rem 0 5rem;
    h1 {
      margin: 15rem 0 0 0;
      font-family: "Courier New", Courier, monospace;
      font-size: 3vw;
    }
    p {
      font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
      font-size: 20px;
    }
    h1,
    p {
      word-wrap: break-word;
    }
  }
  // padding-left: 10rem;
}
.hero:nth-of-type(2) {
  overflow: hidden;
}
.headshot {
  // border: solid red 4px;
  min-width: 300px;
  width: 24vw;
  overflow: hidden;
  // position: absolute;
  margin: 15% 0 0 20%;
  // top: 7rem;
  // left: 10rem;
}

.project-box {
  display: flex;
  justify-content: center;

  .projects{
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-evenly;
    align-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    min-height: 50vh;
    height: fit-content;
  }
}
// BUTTONS

button {
  display: inline-block;
  border: none;
  padding: 0.5rem 1rem;
  margin: 0;
  text-decoration: none;
  background: #0069ed;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  border-radius: 20px;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover,
button:focus {
  background: #0053ba;
}

button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

button:active {
  transform: scale(0.99);
}
