.carousel{
  width: 100%;
  // height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

  /* Slideshow container */
  .slideshow-container {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
    // border: solid red 2px;
    background: black;
    display: flex;
    flex-direction: column;
    .dots{
      position: absolute;
      bottom: 1rem;
      left: 50%;
      transform: translate(-50%);
      border: none;
    }
  }
  // Slideshow dots

  /* Hide the images by default */
  .mySlides {
    display: none;
  }

  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    // top: 50%;
    width: 20%;
    height: 100%;
    // margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    border: none;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.17), rgba(0, 0, 0, 0));
    user-select: none;
    display: flex;
    align-items: center;
    transition: ease 0.5s;
  }

  /* Position the "next button" to the right */
  .next {
    right: 0;
    justify-content: flex-end;
    border-radius: 3px 0 0 3px;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.17), rgba(0, 0, 0, 0));
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.578), rgba(0, 0, 0, 0));
    transition: ease 0.5s;
    
  }
  .next:hover {
    background: linear-gradient(to left, rgba(0, 0, 0, 0.585), rgba(0, 0, 0, 0));
    
  }

  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }

  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: rgba(155, 155, 155, 0.274);
    border-radius: 50%;
    border: none;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active, .dot:hover {
    background-color: rgba(226, 226, 226, 0.582);
  }

  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }