

// LOGIN CSS
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='793' height='95.2' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23071c1c' stroke-width='8.1' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
}
.box:hover{
    background: #000000;
}
.box{
    width: 350px;
    // height: 300px;
    padding: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.3s;

    input[type = "text"],
    input[type = "password"]{
        border: 0;
        background: none;
        display: block;
        margin-bottom: 10px;
        text-align: center;
        border: 2px solid #3498db;
        border-radius: 30px;
        padding: 14px 10px;
        width: 200px;
        outline: none;
        color: white;
        transition: 0.2s;
    }
    input[type = "text"]:focus,
    input[type = "password"]:focus{
        width: 250px;
        border-color: rgb(40, 211, 145);
    }
    input[type = "submit"]{
        border: 0;
        background: none;
        display: block;
        text-align: center;
        border: 2px solid #2ecc71;
        padding: 14px 10px;
        outline: none;
        color: white;
        border-radius: 30px;
        width: 100px;
        transition: 0.1s;
    }
    
    input[type = "submit"]:hover{
        background: rgb(40, 211, 145);;
    }

    h1{
        color: white;
        text-transform: uppercase;
        font-weight: 500;
    }
}